<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">

      <%= render 'layouts/messages' %>

      <div class="container">
        <div class="inner">
          <nav>
            <a href="/" id="logo">Logo Link</a>
            <ul>
              <li><a href="/">Home</a></li>
              <li><%= link_to 'Create', new_article_path %></li>
              <li><%= link_to 'Articles', articles_path %></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
    
          <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>
